<html>
  <head>
    <title>main_site</title>
    <link href="../public/stylesheets/app.css" type="text/css" rel="stylesheet" >
  </head>

  <body>
    <h1>
      * Let's Play Some Kickball *
    </h1>

    <a href= "/teams">Our Teams</a>
  </body>
</html>
