<html>
  <head>
    <title>main_site</title>
    <link rel="stylesheet" href="/public/stylesheets/app.css">
  </head>

  <body>
    <h1>
      * Let's Play Some Kickball *
    </h1>

    <a href= "/teams">Our Teams</a>
  </body>
</html>
